body{
    background-color: #000000;
    color: #fdfdfd;
}
a{
    text-decoration: none;
    color: rgb(238, 255, 0);
    padding-left: 50px;
}
a:hover{
    color: red;
}
a:active{
    color:blue;
}
a:visited{
    color: red;
}
h2{
    color: red;
}